@model DetailsCourseInstanceViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center"> Details for course instance: @Model.Name</h2>
<div class="text-center">
    <br />
    <div><strong>Course Name:  @Model.Name </strong></div>
    <div>Description: @Model.Description</>    </div>
    <div>Course start date: @Model.StartDate.ToString("dd/MM/yyyy")</div>
    <div>Course end date: @Model.EndDate.ToString("dd/MM/yyyy")</>  </div>
    <br />
    <div class="text-center">
        <a asp-area="Lecturer" asp-controller="CourseInstances" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
    </div>
</div>
<br />

<h3 class="text-center">All lectures for this course:</h3>
@if (!Model.Lectures.Any())
{
    <h3>There are no lectures yet.</h3>
    <a asp-area="Lecturer"
       asp-controller="Lectures"
       asp-action="Add"
       asp-route-id="@Model.Id">Add lecture</a>
}
else
{
    <a asp-area="Lecturer"
       asp-controller="Lectures"
       asp-action="Add"
       asp-route-id="@Model.Id"
       class="btn btn-success">Add lecture</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order</th>
                <th>Title</th>
                <th>Lector Hall</th>
                <th>Description</th>
                <th>Starts</th>
                <th>Ends</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var lectore in Model.Lectures)
        {
        <tr>
            <td>@lectore.Order</td>
            <td>@lectore.Title</td>
            <td>@lectore.LectureHall</td>
            <td>@lectore.Description</td>
            <td>@lectore.StartTime</td>
            <td>@lectore.EndTime</td>
        </tr>
        }
        </tbody>
    </table>
}


@*@{int order = 1; }
    <br />
    <h3>All students for this course:</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Order</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var student in Model.Students)
            {
                <tr>
                    <td>@order</td>
                    <td>@student.FullName</td>
                </tr>
                order++;
            }
        }
        </tbody>
    </table>*@