@using LearningSystem.Web.Areas.Admin.Models.Lecture
@model LearningSystem.Web.Areas.Admin.Models.CourseInstance.CreateCourseInstancesBindingModel

@{
    ViewData["Title"] = "Create";

    var lecturers = ViewData["Lecturers"] as IEnumerable<LecturerConsiseViewModel>;
    IEnumerable<SelectListItem> lecturersSelectList = null;

    if (lecturers != null)
    {
        lecturersSelectList = lecturers
            .Select(l => new SelectListItem
            {
                Text = l.UserName,
                Value = l.Id
            });
    }
}

<h2>Create instance for course @Model.Name</h2>
<form asp-area="Admin" asp-controller="CourseInstances" asp-action="Create" method="post">
    <input type="hidden" asp-for="CourseId" />
    @Html.FormGroupFor(m => m.Name)
    @Html.FormGroupFor(m => m.Slug)
    @Html.FormGroupFor(m => m.Description)
    <div class="form-group">
        <label asp-for="LecturerId" class="col-sm-2"></label>
        <div class="col-sm-10">
            <select asp-for="LecturerId" asp-items="lecturersSelectList" class="form-control"></select>
            <span asp-validation-for="LecturerId" class="text-danger"></span>
        </div>
    </div>
    @Html.FormGroupFor(m => m.StartDate)
    @Html.FormGroupFor(m => m.EndDate)
    <div class="form-group">
        <div class="col-sm-10 col-sm-push-2">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-area="Admin" asp-controller="Courses" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/create-slug.js"></script>
    <script>
        $(function () {
            createSlug("@(Html.IdFor(model => model.Name))", "@(Html.IdFor(model => model.Slug))");
        });
    </script>
}