@model CreateCourseInstancesBindingModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create instance for course @Model.Name</h2>
<form asp-area="Admin" asp-controller="CourseInstances" asp-action="Create" method="post" class="form-horizontal">
    <input type="hidden" asp-for="CourseId" />
    @Html.FormGroupFor(m => m.Name)
    @Html.FormGroupFor(m => m.Slug)
    @Html.FormGroupFor(m => m.Description)
    @Html.FormGroupFor(m => m.LecturerId)
    @Html.FormGroupFor(m => m.StartDate)
    @Html.FormGroupFor(m => m.EndDate)
    <div class="form-group">
        <div class="col-sm-10 col-sm-push-2">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-area="Admin" asp-controller="Courses" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="js/create-slug.js"></script>
    <script>
        $(function () {
            createSlug("@(Html.IdFor(model => model.Name))", "@(Html.IdFor(model => model.Slug))");
        });
    </script>
}