@model LearningSystem.Web.Areas.Lecturer.Models.DetailsCourseInstanceViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center"> Details for course instance: @Model.Name</h2>
<div class="text-center">
    <br />
    <div><strong>Course Name:  @Model.Name </strong></div>
    <div>Description: @Model.Description</>    </div>
    <div>Course start date: @Model.StartDate.ToString("dd/MM/yyyy")</div>
    <div>Course end date: @Model.EndDate.ToString("dd/MM/yyyy")</>  </div>
    <br />
</div>
<br />

<h3>All lectures for this course:</h3>
@*<table class="table table-striped">
    <thead>
    <tr>
        <th>Order</th>
        <th>Title</th>
        <th>Lector Hall</th>
        <th>Description</th>
        <th>Starts</th>
        <th>Ends</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var lectore in Model.Lectures)
        {
            <tr>
                <td>@lectore.Order</td>
                <td>@lectore.Title</td>
                <td>@lectore.LectureHall </td>
                <td>@lectore.Description        </td>
                <td>@lectore.StartTime              </td>
                <td>@lectore.EndTime</td>
            </tr>
        }
    }
    </tbody>
</table>

@{int order = 1; }
<br />
<h3>All students for this course:</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Order</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var student in Model.Students)
        {
            <tr>
                <td>@order</td>
                <td>@student.FullName</td>
            </tr>
            order++;
        }
    }
    </tbody>
</table>*@